
.flowchart-node { position: absolute; box-sizing: border-box; user-select: none; transform-origin: 0 0;  }
.flowchart-port { position: absolute; box-sizing: border-box; width: 12px; height: 12px; border-radius: 12px; background-color: transparent;  }
.flowchart-port-in { left: -6px; }
.flowchart-port-out { right: -6px; }
.flowchart-group { background-color: rgba(0,0,0,0.05); }

.selected-node::before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(94, 177, 255, 1);
}

.avocado-barrier { box-sizing: border-box; }
.avocado-barrier>* { width: 100%; height: 100%; box-sizing: border-box; }
.noneffective-events { pointer-events: none; }

.active-frame { border: 1px solid blue; background-color: rgba(0, 0, 255, .1); position: absolute; }
